#picture-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px

}

#left, #right {
    flex: 1;
    display: flex;
    justify-content: center;
}

#left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

#right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
