body {
    height: 125vh;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between

}

ul.logged_in {
    display: flex;
    width: 100%;
    justify-content: space-between
}

header > ul {
    display: flex;
}


header li a {
    text-decoration: none;
}

.hidden {
    display: none
}

ul.profile-dropdown{
    list-style-type: none;
    position: absolute;
    background-color: white;
    right: 5px;
    top: 75px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, .1);
}

.profile-button {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    position: relative;
    right: 25px;
}

.profile-box {
    width: 75px;
    height: 40px;
    border: 2px solid lightgray;
    border-radius: 20px;
    position: relative;
    left: 160px;
    bottom: 7px
}

#button-logo {
    background-color: transparent;
    font-size: 27px;
    border: none;
    position: relative;
    top: 3px
}

.three-bars {
    position: relative;
    font-size: 20px;
    right: 2px;
    top: 2px;
}

.profile-menu {
    display: flex;
    justify-content: space-between;
    width: 250px
}

#home {
    list-style: none;
    font-weight:bold;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 15px;
    color: red;
}

.j-logo {
    font-size: 35px;
    border-radius: 10px;
    position: relative;
    top: 7px;
}

.create-spot {
    position: relative;
    top: 6px;
}

#name-circle {
    position: relative;
    color: white;
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

#name-letter {
    position: relative;
    left: 7px;
    top: 4px
}

#create-new-spot {
    position: relative;
    left: 350px;
    top: 7px;
}
